.year-list {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.year-list ul {
  margin: 0;
}
.year-list li {
  margin: 5px 0 5px;
  list-style-type: none;
}
.year-list time {
  font-size: 14px;
  font-weight: 300;
}
.year-list a {
  font-size: 14px;
}
.year-list a:hover {
  text-decoration: underline;
}
.year-list a:visited {
  color: #969696;
}
