/**********文章内容**********/
.post {
  width: 100%;
}
.post-title {
  margin: 35px 0 25px;
  text-align: center;
}
.post ul {
  margin: 10px 5px 20px 25px;
}
.post img {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
