/**********导航尾**********/
.footer {
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px 0 20px;
}
.footer .container {
  min-height: 0px;
  margin: 0 auto 0;
}
.footer a {
  text-decoration: none;
  line-height: 30px;
}
.copyright {
  overflow: auto;
}
.social {
  text-align: center;
}
.social-list {
  overflow: auto;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.social li {
  list-style-type: none;
  float: left;
  margin: 0 4px 0;
}
.fa {
  width: 26px;
  height: 26px;
  display: block;
  background-size: contain;
}
.fa-weibo {
  background-image: url("../image/weibo.png");
}
.fa-github {
  background-image: url("../image/github.png");
}
.power a {
  color: #333;
  font-weight: 700;
}
