#page-header,
#page-header:before {
  background: transparent !important;
}
#page-header.post-bg,
#page-header.not-home-page {
  height: 14rem !important;
}
#page-header #post-info {
  bottom: 2rem !important;
}
#page-header #page-site-info {
  top: 7rem !important;
}
@media screen and (max-width: 768px) {
  #page-header.not-home-page {
    height: 10rem !important;
  }
  #page-header #post-info {
    bottom: 0.5rem !important;
  }
  #page-header #page-site-info {
    top: 5rem !important;
  }
}
.top-img {
  height: 12.5rem;
  margin: -50px -40px 50px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .top-img {
    height: 230px;
    margin: -1.8rem -0.7rem 1.8rem;
  }
}
[data-theme='dark'] .top-img {
  filter: brightness(0.8);
}
#footer:before {
  background-color: rgba(255,255,255,0.5);
}
[data-theme='dark'] #footer:before {
  background-color: rgba(0,0,0,0.5);
}
#footer-wrap,
#footer-wrap a {
  color: #111;
  -webkit-transition: unset;
  -moz-transition: unset;
  -o-transition: unset;
  -ms-transition: unset;
  transition: unset;
}
[data-theme='dark'] #footer-wrap,
[data-theme='dark'] #footer-wrap a {
  color: var(--light-grey);
}
