/**********分页器**********/
.pagenator {
  overflow: auto;
  margin: 20px auto 20px;
}
.post-pagenator {
  max-width: 600px;
  height: 30px;
}
.post-pagenator p {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  font-weight: 600;
  color: #888;
  cursor: default;
}
.extend {
  float: left;
  margin: 0;
  padding: 6px 10px 6px 10px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  overflow: hidden;
  border: 1px solid #f0f0f0;
}
.prev {
  color: #888;
  cursor: pointer;
}
.prev {
  float: left;
}
.prev-none {
  color: #888;
  cursor: not-allowed;
}
.next {
  color: #888;
  cursor: pointer;
}
.post-next {
  float: right;
}
.next-none {
  color: #888;
  cursor: not-allowed;
}
.page-item {
  margin: 0 5px 0;
  cursor: default;
}
.page-item-normal {
  background-color: #fff;
  color: #333;
  cursor: pointer;
}
.page-item-select {
  background-color: #333;
  color: #fff;
}
